<app-navbar></app-navbar>
<div class="container px-4 px-lg-5">

  <div class="image">
    <div class="left">
      <img class="img-fluid" class="naiy" src="{{this.share.detailImageurl}}" alt="..." />
    </div>
    <div class="right">
      <img class="img-fluid" src="assets/img/1.The-Grand-Palace-1.jpg" alt="..." />
      <img class="img-fluid" src="assets/img/1.The-Grand-Palace-1.jpg" alt="..." />
    </div>
  </div>

  <div class="card  my-2 py-2 ">
    <div class="card-body">
      <h5 class="card-title">{{this.share.detailName}}</h5>
      <p class="card-text">{{this.share.detailDistrict}},{{this.share.detailProvine}}</p>
    </div>
  </div>

  <div class="row gx-3 gx-lg-4">
    <div class="col-md-4 mb-2">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">ประเภท</h2>
          <p class="card-text">{{this.share.detailType}}</p>
        </div>
       
      </div>
    </div>
    <div class="col-md-4 mb-2">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">สิ่งอำนวยความสะดวก</h2>
          <p class="card-text">{{Parking}} {{Toilet}}</p>
        </div>
        
      </div>
    </div>
    <div class="col-md-4 mb-2">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">ความปลอดภัย</h2>
          <p class="card-text">{{this.share.detailSecurity}}</p>
        </div>
      </div>

    </div>
  </div>

  <div class="card  my-2 py-2 ">
    <div class="card-body">
      <h5 class="card-title">รายละเอียด</h5>
      <p class="card-text">{{this.share.detailDetail}}</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
