<app-navbar></app-navbar>
<div class="container px-4 px-lg-5">

  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7">
      <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/img/1.The-Grand-Palace-1.jpg" alt="..." />
    </div>
    <div class="col-lg-5">
      <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/img/1.The-Grand-Palace-1.jpg" alt="..." />
      <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/img/1.The-Grand-Palace-1.jpg" alt="..." />
    </div>
  </div>

  <div class="card  my-2 py-2 ">
    <div class="card-body">
      <h5 class="card-title">วัดอะไรซักอย่าง</h5>
      <p class="card-text">อ.จังหวัด</p>
    </div>
  </div>

  <div class="row gx-3 gx-lg-4">
    <div class="col-md-4 mb-2">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">ประเภท</h2>
          <p class="card-text">วัด</p>
        </div>
       
      </div>
    </div>
    <div class="col-md-4 mb-2">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">สิ่งอำนวยความสะดวก</h2>
          <p class="card-text">ห้องน้ำ,ร้านอาหาร</p>
        </div>
        
      </div>
    </div>
    <div class="col-md-4 mb-2">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">ความปลอดภัย</h2>
          <p class="card-text">มีโรงพยาบาลในระยะ 10 กิโลเมตร</p>
        </div>
      </div>

    </div>
  </div>

  <div class="card  my-2 py-2 ">
    <div class="card-body">
      <h5 class="card-title">รายละเอียด</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laudantium vero error illum, itaque esse ipsa impedit? Aliquam minima ipsa sapiente aperiam placeat, quidem sequi blanditiis aliquid quas provident ex!</p>
    </div>
  </div>
</div>
