<nav>
  <div class="nav-left">
    <a routerLink='/' routerLinkActive="active"><img src="https://cdn.discordapp.com/attachments/593784116634320930/908276256527769630/where.png" alt=""></a>
    <a  (click)="this.onClick()" routerLink='/search' routerLinkActive="active">สถานที่ท่องเที่ยวทั้งหมด</a>
  </div>
  <div class="nav-right">
    <a routerLink='/form' routerLinkActive="active"> ให้ข้อมูลสถานที่ท่องเที่ยว</a>
    <!-- <a routerLink='/search' routerLinkActive="active">TH|EN</a> -->
  </div>
</nav>
