<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="slideshow-img">
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random second slide">
        <img [src]="images[1]" alt="Random second slide">
        <img [src]="images[2]" alt="Random second slide">
        <img [src]="images[2]" alt="Random second slide">
        <img [src]="images[2]" alt="Random second slide">
        <img [src]="images[2]" alt="Random second slide">

      </div>
    </div>
  </ng-template>
  
  <ng-template ngbSlide>
    <div class="slideshow-img">
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide">
        <img [src]="images[2]" alt="Random second slide">
        <img [src]="images[3]" alt="Random second slide">
        <img [src]="images[3]" alt="Random second slide">
        <img [src]="images[3]" alt="Random second slide">
        <img [src]="images[3]" alt="Random second slide">
      </div>
    </div>

  </ng-template>
</ngb-carousel>
