<app-adnavbar></app-adnavbar>
<p-table [value]="products" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
  <ng-template  pTemplate="header" let-columns>
    <tr >
      <th pSortableColumn="name">Name</th>
      <th pSortableColumn="type">Type</th>
      <th >Detail</th>
      <th >Contact</th>
      <th pSortableColumn="sector">Sector</th>
      <th pSortableColumn="province">Province</th>
      <th pSortableColumn="district">District </th>
      <th pSortableColumn="toilet">Toilet </th>
      <th pSortableColumn="parking">Parking </th>
      <th pSortableColumn="opentime">Open Time</th>
      <th pSortableColumn="closetime">Close Time </th>
      <th >Images</th>
      <th pSortableColumn="check">Status</th>
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-product let-columns="columns">
    <tr>
      <td><span class="p-column-title">Name</span>{{ product.name }}</td>
      <td><span class="p-column-title">Type</span>{{ product.type }}</td>
      <td><span class="p-column-title">Details</span>{{ product.detail }}</td>
      <td><span class="p-column-title">Contact</span>{{ product.contact }}</td>
      <td><span class="p-column-title">Sector</span>ภาค{{ product.sector }}</td>
      <td>
        <span class="p-column-title">Province</span>{{ product.province }}
      </td>
      <td>
        <span class="p-column-title">District</span>{{ product.district }}
      </td>
      <td>
        <span class="p-column-title">Toilet</span>{{ product.toilet ? "มี" : "ไม่มี" }}
      </td>
      <td>
        <span class="p-column-title">Parking</span>{{ product.parking ? "มี" : "ไม่มี" }}
      </td>
      <td>
        <span class="p-column-title">Open Time</span>{{ product.opentime }}
      </td>
      <td>
        <span class="p-column-title">Close Time</span>{{ product.closetime }}
      </td>
      <td style="display: flex; flex-direction: column;">
        <span class="p-column-title">Image</span><img *ngFor="let item of product.imageurl" [src]="item"
          [alt]="product.name" width="100" class="p-shadow-4" style="padding-bottom: 5px" />
      </td>
      <td>
        <span class="p-column-title">Check</span>{{ product.check ? "ตรวจสอบแล้ว" : "ยังไม่ได้ตรวจสอบ" }}
      </td>
      <td>
        <span class="p-column-title"></span>
        <div class="buttongroup">
        <button  pButton pRipple  icon="pi pi-check" label="Confirm"class="p-button-primary p-button-sm" (click)="openCorrectDialog(correct)"></button>
        <button  pButton pRipple  icon="pi pi-trash" label="Delete" class="p-button-danger p-button-sm"(click)="openDeleteDialog(delete)"></button>
      </div>
      </td>
            <!-- modal Correct -->
            <ng-template #correct let-modal>
              <div class="modal-body">
                <p>{{product.name}} จะถูกเพิ่มลงในเว็บไซต์</p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-warning"
                  (click)="onConfirm(product.name)"
                >
                  Confirm
                </button>
                <button
                  type="button"
                  class="btn btn-light"
                  (click)="modal.close('Close click')"
                >
                  Close
                </button>
              </div>
            </ng-template>
            <!-- modal correct-->
            <!-- modal delete -->
            <ng-template #delete let-modal>
              <div class="modal-body">
                <p>{{product.name}} จะถูกลบออก</p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-warning"
                  (click)="onDelete(product._id,product.imageurl)"
                >
                  Confirm
                </button>
                <button
                  type="button"
                  class="btn btn-light"
                  (click)="modal.close('Close click')"
                >
                  Close
                </button>
              </div>
            </ng-template>
            <!-- modal delete -->
    </tr>




      <!-- <button (click)="openCorrectDialog(correct)">Confirm</button>
        <button (click)="openDeleteDialog(delete)">Delete</button> -->


<ng-template [ngIf]="this.data.length === 0">
  <h3>ไม่ค้นพบข้อมูล</h3>
</ng-template>