<div class="scrollme">
  <table class="table table-responsive table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col ceeter">#</th>
        <th class="name" scope="col center">Name</th>
        <th class="type" scope="col">Type</th>
        <th class="detail" scope="col">Detail</th>
        <th scope="col">Contact</th>
        <th scope="col">Sector</th>
        <th scope="col">Province</th>
        <th scope="col">District</th>
        <th scope="col">Open Time</th>
        <th scope="col">Close Time</th>
        <th class="url" scope="col">Imageurl</th>
        <th scope="col">Checkbox</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data; let index=index">
        <th scope="row">{{index+1}}</th>
        <td>{{item.name}}</td>
        <td>{{item.type}}</td>
        <td>{{item.detail}}</td>
        <td>{{item.contact}}</td>
        <td>{{item.sector}}</td> 
        <td>{{item.province}}</td>
        <td>{{item.district}}</td> 
        <td>{{item.opentime}}</td>
        <td>{{item.closetime}}</td>
        <td class="urlcol">
        <a href={{item.imageurl[0]}} target="_blank">1. {{item.imageurl[0]}}</a> <br>
        <a href={{item.imageurl[1]}} target="_blank">2. {{item.imageurl[1]}}</a> <br>
        <a href={{item.imageurl[2]}} target="_blank">3. {{item.imageurl[2]}}</a> 
        </td>
        <td>
            <button>Confirm</button>
            <button>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>