<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="tabber">
        <div class="tl">
            <a routerLink=""><h1>INVETHK</h1></a>            
        </div>
    </div>

    <div class="main">
        <div class="img"></div>
        <div class="textbox">
            <label for="fname">ชื่อสถานที่ท่องเที่ยว</label>
            <input type="text">
        </div>
        <div class="dropbox">
            <label for="province">จังหวัด</label>
            <select name="province" id="province">
                <option value="province">กรุงเทพมหานคร</option>
            </select>
            <label for="district">อำเภอ</label>
            <select name="district" id="district">
                <option value="district">ท่าแร้ง</option>
            </select>
            <label for="district">ตำบล</label>
            <select name="county" id="county">
                <option value="county">บางเขน</option>
            </select>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="bathroom" name="bathroom" >
            <label for="bathroom"> ห้องน้ำ</label>
            <input type="checkbox" id="bus" name="bus" >
            <label for="bus"> รถรับ-ส่ง</label>
            <input type="checkbox" id="restaurant" name="restaurant" >
            <label for="restaurant"> ร้านอาหาร</label>
            <input type="checkbox" id="hotel" name="hotel" >
            <label for="hotel"> โรงแรม</label>
        </div>
        <div class="description">
            <label for="description">รายละเอียด</label>
            <div class="des"><textarea name="description" id="description"></textarea></div>
            <div class="inputimg">
                <label for="image">เพิ่มรูปภาพ :</label>
                <input type="file" id="image" name="image" accept="image/png, image/jpeg"> 
            </div>   
        </div>
        <div class="button1">
            <button class="confirm">confirm</button>
            <button class="cancel">cancel</button>
        </div>
    </div>
</body>
</html>