* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.tabbars {
  display: flex;
  background-color: orange;
  height: 65px;
}
.tabbar h1 {
  font-size: 36px;
  padding: 1rem;
}
a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.tabbarcolor {
  background-color: orange;
  height: 50px;
}
.titel {
  padding: 15px;
  text-align: center;
  font-size: 26px;
}
.main {
  width: 100pc;
  margin: 2rem auto;
  height: 800px;
  box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 0.2);
  border-radius: 10px;
  overflow: hidden;
}
.formt {
  margin: 1rem auto;
  font-size: 26px;
  padding-left: 20px;
}
.names {
    padding-bottom: 10px;
    .names input {
        font-size: 17px;
    }
}
.names input {
    font-size: 17px;
    padding-right: 50px;
}
.locations {
    padding-bottom: 10px;
}
.locations input {
    font-size: 17px;
    padding-right: 50px;
}
.dropbox {
    padding-bottom: 10px;
}
.dropbox label {
    padding-right: 5px;
}
.dropbox select {
    margin-right: 10px;
    padding-right: 50px;
    font-size: 17px;
}
.checkboxs {
    padding-bottom: 10px;
}
.checkboxs label {
  padding-right: 2rem;
}
.description {
    padding-bottom: 10px;
}
.uploadimgs {
    padding-bottom: 10px;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5rem;
}
button {
    padding: 15px 25px;
    font-size: 26px;
    background: orange;
    border-radius: 50px;
    transition: all 0.25s ease;
}