<img src="assets/img/1.The-Grand-Palace-1.jpg">
<div class="search-box ">
  <input type="text" class="searchTerm" placeholder="ใส่สิ่งที่คุณอยากรู้ที่นี่สิ" (keydown)="onEnterPress($event,input.value)"  #input>
  <div class="row">
    <div class="col p-1">
      <div ngbDropdown class="d-inline-block ">
        <button class="btn dropdown" id="dropdownBasic1" ngbDropdownToggle><span class="text-secondary">{{type}}</span></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem *ngFor="let item of typeList; let index=index" (click)="changeType(typeList[index])">
            {{typeList[index]}}
          </button>
        </div>
      </div>
    </div>

    <div class="col p-1">
      <div ngbDropdown class="d-inline-block">
        <button class="btn dropdown" id="dropdownBasic1" ngbDropdownToggle><span class="text-secondary">{{sectorName}}</span></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem *ngFor="let item of sector; let index=index" (click)="changeSector(sector[index])">
            {{sector[index]}}
          </button>
        </div>
      </div>
    </div>

    <div class="col p-1">
      <div ngbDropdown class="d-inline-block ">
        <button class="btn dropdown " id="dropdownBasic1 " ngbDropdownToggle
          (click)="addProvince()"><span class="text-secondary">{{province}}</span></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem *ngFor="let item of newProvinceList; let index=index"
            (click)="changeProvince(newProvinceList[index])">
            {{newProvinceList[index]}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-info" (click)="postSearch(input.value)" 
  routerLink='/search' routerLinkActive="active"><h4>ค้นหา</h4></button>

</div>
