<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Search</title>

  <link rel="stylesheet" href="search.component.scss" />

</head>

<app-navbar></app-navbar>

<body>


  <div class="grid">
    <div class="page-header content">
<app-seachbar></app-seachbar>
    </div>
    <div class="page-leftbar content">
      <div class="Boxofradio">
        <h5>ระยะเวลาทำการ</h5>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio1">ไม่จำกัดระยะเวลาทำการ</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio2">จำกัดระยะเวลาทำการ</label>
        </div><br>
        <h5>สิ่งอำนวยความสะดวก</h5>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio3">ห้องน้ำ</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio4">บริการรถนำเที่ยว</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio5">ร้านอาหาร</label>
        </div>
      </div>
    </div>





    <div class="page-main content">

      <!-- Card -->
      <div class="maincontent" *ngFor="let item of cardInfo">
        <img src={{item.imageurl}}>
        <div class="container">
          <div class="detail">
            <div class="name">
              <h1>{{item.name}}<span> {{item.type}}</span></h1>
              <h3>{{item.opentime}}-{{item.closetime}}</h3>
            </div>
            <h4 class="info">{{item.district}}</h4>
          </div>
          <button class="detailbtn" (click)="pushDetail(
            item.name,
            item.sector,
            item.province,
            item.district,
            item.type,
            item.imageurl,
            item.opentime,
            item.closetime,
            item.toilet,
            item.parking,
            item.detail,
            item.contact,
            item.security,
            item.location)"
          routerLink='/detail' routerLinkActive="active">รายละเอียด</button>
        </div>
      </div>
      <!--  -->

    </div>

  </div>



</body>

<app-footer></app-footer>

</html>