<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Search</title>

  <link rel="stylesheet" href="search.component.scss" />

</head>

<app-navbar></app-navbar>

<body>


  <div class="grid">
    <div class="page-header content">
      <app-seachbar></app-seachbar>
    </div>
    <div class="page-leftbar content">
      <h3>สิ่งอำนวยความสะดวก</h3>
      <div class="form-check" *ngFor ="let item of filterCheckbox">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="filterToilet(item)" >
        <label class="form-check-label">
          {{item}}
        </label>
      </div>
      <button type="button" class="btn btn-warning " onClick="window.location.reload();">ข้อมูลทั้งหมด</button>
    </div>


    <div class="page-main content">
      <!-- Card -->
      <div class="maincontent" *ngFor="let item of cardInfo">
      
        <img src={{item.imageurl[0]}}>
        <div class="container">
          <div class="detail">
            <div class="name">
              <h1>{{item.name}}<span> {{item.type}}</span></h1>
              <h3>{{item.opentime}}-{{item.closetime}}</h3>
            </div>
            <h4 class="info">อำเภอ{{item.district}} จังหวัด{{item.province}}</h4>
          </div>
          <button class="detailbtn" (click)="pushDetail(
            item.name,
            item.sector,
            item.province,
            item.district,
            item.type,
            item.imageurl,
            item.opentime,
            item.closetime,
            item.toilet,
            item.parking,
            item.detail,
            item.contact,
            item.security,
            item.location)" routerLink='/detail' routerLinkActive="active">
            รายละเอียด
          </button>
        </div>
      </div>
      <!--  -->

    </div>

  </div>



</body>

<app-footer></app-footer>

</html>
