<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Search</title>

  <link rel="stylesheet" href="search.component.scss" />

</head>
<app-navbar></app-navbar>

<body>
  <!-- <app-navbar></app-navbar> -->

  <div class="grid">







    <div class="page-leftbar content">
      <form>
        <header>ZZZZ</header>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> I have a bike</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2"> I have a car</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3"> I have a boat</label><br><br>

        <header>ZZZZ</header>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> I have a bike</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2"> I have a car</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3"> I have a boat</label>
      </form>
    </div>


    <div class="page-main content">
      <div class="maincontent">

        <img src="https://image.freepik.com/free-photo/business-skyscraper-building-hong-kong-city_74190-1847.jpg"
          alt="">
        <div class="container">
          <div class="detail">
            <div class="name">
              <h1>Name <strong>Type</strong></h1>
              <h3>Time</h3>
            </div>
            <h4 class="info">Info</h4>
          </div>
          <button class="detailbtn">รายละเอียด</button>
        </div>
      </div>

    </div>


  </div>




</body>

<app-footer></app-footer>

</html>