<app-navbar></app-navbar>
<div class="container m-6 mt-6 ">
    <div class="tielname">
        <h1>เพิ่มสถานที่ท่องเที่ยว</h1>
    </div>
    <div class="row justify-content center mt-2">
        <div class="col-md-12">
            <form action="https://httpbin.org/post" method="post">
                <div class="form">
                    <label for="names">ชื่อสถานที่ :</label>
                    <input type="text" class="form-control" id="names" name="name" placeholder="ชื่อสถานที่">
                </div>
                <div class="locationsform">
                    <label for="location">ที่อยู่ :</label>
                    <input type="text" class="form-control" id="location" name="location" placeholder="ที่อยู่">
                </div>
                <div class="Locationform">
                    <label>ประเภท :</label>
                    <div ngbDropdown class="d-inline-block">
                        <button class="form-control" type="button" id="dropdownBasic1"
                            ngbDropdownToggle>{{type}}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button class="form-control" ngbDropdownItem type="button"
                                *ngFor="let item of typeList; let index=index" (click)="changeType(typeList[index])">
                                {{typeList[index]}}
                            </button>
                        </div>
                    </div>
                    <label class="region">ภาค :</label>
                    <div ngbDropdown class="d-inline-block">
                        <button class="form-control" type="button" name="region" id="dropdownBasic1"
                            ngbDropdownToggle>{{sectorName}}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button class="form-control" ngbDropdownItem type="button"
                                *ngFor="let item of sector; let index=index" (click)="changeSector(sector[index])">
                                {{sector[index]}}
                            </button>
                        </div>
                    </div>
                    <label class="province">จังหวัด :</label>
                    <div ngbDropdown class="d-inline-block">
                        <button class="form-control" type="button" id="dropdownBasic1" ngbDropdownToggle
                            (click)="addProvince()" value="{{province}}">{{province}}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button class="form-control" ngbDropdownItem type="button"
                                *ngFor="let item of newProvinceList; let index=index"
                                (click)="changeProvince(newProvinceList[index])">
                                {{newProvinceList[index]}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="checkform">
                    <input type="checkbox" class="form-control" id="bathroom" name="bathroom" value="bathroom">
                    <label for="bathroom"> ห้องน้ำ</label>
                    <input type="checkbox" class="form-control" id="bus" name="bus" value="bus">
                    <label for="bus"> ที่จอดรถ </label>
                </div>
                <div class="Timeform">
                    <div class="md-form">
                        <label>เวลาเปิด :</label>
                        <input type="time" name="openTime" class="form-control" value="08:00" mdbInput />
                    </div>
                    <div class="md-form">
                        <label>เวลาปิด :</label>
                        <input type="time" name="closeTime" class="form-control" value="22:00" mdbInput />
                    </div>
                </div>
                <div class="descriptionform">
                    <label>รายละเอียด</label>
                    <div class="des">
                        <textarea id="description" class="form-control" name="description" cols="51px"
                            rows="10px"></textarea>
                    </div>
                </div>
                <div class="imgsform">
                    <label>เพิ่มรูปภาพ :</label>
                    <input class="uploadimgs" type="file" name="uploadimgs" multiple accept="image/png, image/jpeg"
                        required>
                </div>
                <div class="phonenumberform">
                    <label>ติดต่อ :</label>
                    <input type="number" class="form-control" name="contact" placeholder="เบอร์โทร">
                </div>
                <div class="securityform">
                    <label>ความปลอดภัย :</label>
                    <input type="text" class="form-control" name="security"
                        placeholder="ระบุโรงบาลที่อยู่ใกล้ที่สุด พร้อมระยะทาง">
                </div>
                <div class="buttonform">
                    <button type="submit">Confirm</button>
                    <button type="reset">clear</button>
                </div>
            </form>
        </div>
    </div>
</div>