* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tabber {
    display: flex;
    justify-content: space-between;
    background-color: #1976b2;
    height: 65px;
}
.tl {
    padding: 1rem;
}
.tl h1 {
    font-size: 36px;
}
.tr button {
    font-size: 25px;
}
select {
    margin: 1rem auto;
    padding: 0.5rem;
}
.main {
    width: 740px;
    margin: 2rem auto;
    height: 300px;
    box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 0.2);
    border-radius: 10px;
    overflow: hidden;
}
.img {
    height: 100px;
    background: #1976b2;
}
.textbox {
    padding: 1rem;
    text-align: center;
}
.textbox label {
    padding: 1rem;
    font-size: 32px;
}
.dropbox {
    text-align: center;
    font-size: 26px;
}
.dropbox label {
    padding-left: 1rem;
}
.checkbox {
    text-align: center;
    font-size: 26px;
    height: 250px;
}
.checkbox label {
    padding-right: 1rem;
}
.checkbox input {
    margin: 1rem auto;
    padding: 0.5rem;
}
a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}